@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDptfpA4Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Work Sans Bold'), local('WorkSans-Bold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3x4X8mNhNy_r-Kw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  src: local('Taviraj Regular'), local('Taviraj-Regular'), url(https://fonts.gstatic.com/s/taviraj/v3/ahcZv8Cj3ylylTXzTOkrUsNzjUw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 700;
  src: local('Taviraj Bold'), local('Taviraj-Bold'), url(https://fonts.gstatic.com/s/taviraj/v3/ahccv8Cj3ylylTXzRFIOR-5RgGa6q0o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal styling */

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fcfdff;
  color: #565656;
  font-size: 16px;
}

.title {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #565656;
}

.maincontent {
  position: relative;
  top: 64px;
}
/* Header styling */

header  {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    position: fixed;
    width: 96.5%;
    z-index: 5;
    background-color: #fcfdff;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;

}

.logo img {
  height: 32px;
  max-width: 100%;
}

header nav {
  display: flex;
  padding: 24px;
}

header nav span {
  padding-left: 16px;
  text-align: right;
  transition: color 200ms ease 50ms;
}

header nav span:hover {
  color: #c91808;
}

header nav .mobile {
  display: none;
}

.logo span span {
  color: gray;
}

/* Header mobile styling */

@media only screen and (max-width: 750px) {

  header .logo {
    display: none;
  }

  header nav span{
    display: none;
  }

  header nav .mobile {
    display: flex;
  }

  header nav {
    justify-content: space-between;
    width: 100%;
    margin-right: 24px;
  }

}

/* social-media styling */

#social {
  position: fixed;
  display: flex;
  z-index: 2;
  padding: 72px 16px 8px 16px;
  background-color: #fcfdff;
  width: 100%;
  opacity: 0.6;
}

#social i {
  padding-left: 16px;
}

/* social-media mobile styling */

@media only screen and (max-width: 750px) {
  #social i {
    padding-left: 32px;
  }
}
/* Banner styling */

#banner {
  display: flex;
  background-color: #A7B4C1;
}

.bannerimage {
  width: 60%;
  padding: 64px 24px 32px 24px;
}

.bannerimage img {
  max-width: 100%;
}

#banner .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 75%;

}

#banner .container h2 {
  padding: 32px 0;
  font-family: Taviraj, serif;
  font-weight: 400;
}

#banner .sidebar {
  display: flex;
  align-items: center;
  max-width: 38.75%;
}

#banner .container .start {
  text-align: center;
  background-color: #565656;
  padding: 8px 0;
  color: #fcfdff !important;
  margin-top: 20px;
  transition: all 400ms ease;
}

#banner .container .start:hover {
  background-color: #004489;
}

/* media query to make text fit smaller screensize */

@media only screen and (max-width: 1080px) and (min-width: 823px) {
  #banner h1 {
    font-size: 35px;
  }

  #banner h2 {
    font-size: 25px;
  }
}

/* media query to make text fit smaller screensize */

@media only screen and (max-width: 823px) and (min-width: 750px) {
  #banner h1 {
    font-size: 25px;
  }

  #banner h2 {
    font-size: 18px;
  }

  #banner .container {
    max-width: 80%;
  }

  #banner .container h2 {
    padding: 16px 0;
  }
}

/* banner mobile styling */

@media only screen and (max-width: 750px) {

  #banner {
    flex-direction: column;
  }

  .bannerimage {
    width: 100%;
    padding: 0;
  }

  #banner .sidebar {
    padding: 32px 16px;
    max-width: 100%;
  }

  #banner .container {
    max-width: 100%;
  }

  #banner h1 {
    font-size: 50px;
  }

  #banner h2 {
    font-size: 30px;
    padding: 32px 0 24px 0;
  }

}

/* Information styling */

#information {
  display: flex;
  background-color: #F3f5f6;
}

#information .content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

#information .content img {
  max-width: 100%;
  max-height: 100%;
}

#information .content .textcontainer h1 {
  padding: 32px 0 24px 0;
}

#information .content .textcontainer p {
  font-family: Taviraj, serif;
}

#information .content .textcontainer span {
  font-family: Taviraj, serif;
  padding-top: 24px;
  font-weight: 700;
}

.orientation,
.campus,
.lecture {
  display: flex;
}

.orientation h2,
.campus h2,
.lecture h2 {
  padding-bottom: 8px;
}

.read {
  padding-top: 8px;
  color: #004489;
  transition: all 400ms ease-out 100ms;
}

.read:hover {
  font-weight: bold;
  color: #c91808;
}

.orientation {
  background-color: #D3D9DF;
  border-bottom: 4px double #989898;
}

.campus {
  background-color: #A7B4C1;
}

.lecture {
  background-color: #778C9F;
}

#information .textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

#information .sidebar .imagecontainer {
  width: 35%;
  padding: 16px;
}

#information .imagecontainermob {
  display: none;
}

#information .sidebar .imagecontainer img {
  width: 100%;
}

#information .sidebar {
  padding: 32px 0;
  width: 40%;
  border-left: 1px solid #989898;
}

#information .sidebar .textcontainer {
  width: 65%;
}

/* media query to make text fit smaller screensize */

@media only screen and (max-width: 1200px) {

  #information .sidebar span {
    font-size: 14px;
  }

}

/* media query to make text fit smaller screensize */

@media only screen and (max-width: 1130px) and (min-width: 1006px) {

  #information .sidebar h2 {
    font-size: 24px;
  }

}

/* media query to make text fit smaller screensize */

@media only screen and (max-width: 1006px) {

  #information .sidebar h2 {
    font-size: 20px;
  }

}

@media only screen and (max-width: 812px) and (min-width: 609px) {

  #information .imagecontainer {
    display: none;
  }

  .orientation {
    border-bottom: none;
    background-image: url(../images/information-orientation-mobile.jpg);
    background-size: cover;
    margin: 0;
  }

  .campus {
    background-image: url(../images/information-campus-mobile.jpg);
    background-size: cover;
    margin-top: 2px;
  }

  .lecture {
    background-image: url(../images/information-guest-lecture-mobile.jpg);
    background-size: cover;
    margin-top: 2px;
  }

  #information .sidebar {
    color: #fcfdff;
    padding: 0;
  }

  #information .content .textcontainer h1 {
    font-size: 30px;
    padding: 0;
  }

  #information .content .textcontainer {
    padding: 12px 16px;
  }

  #information .content p,
  #information .content span {
    display: none;
  }

  #information .content {
    padding-top: 24px;
    padding-bottom: 0;
  }
}

/* information mobile styling */

@media only screen and (max-width: 609px) {

  #information {
    padding: 16px 16px 32px 16px;
  }

  #information .content {
    display: none;
  }

  #information .imagecontainer {
    display: none;
  }

  .orientation,
  .campus,
  .lecture {
    flex-direction: column;
    border: none;
  }

  #information .sidebar {
    width: 100%;
    border: none;
  }

  #information .imagecontainermob{
    display: flex;
  }

  #information .imagecontainermob img{
    max-width: 100%;
  }

  #information .textcontainer {
    padding: 64px 16px;
  }
}
/* Course styling */

#course {
  display: flex;
  flex-direction: column;
  padding: 32px 56px;
  background-color: #D3D9DF;
  align-items: center;
}

#course .mobile {
  display: none;
}

#course .content {
  display: flex;
  flex-direction: column;
}

#course .coursefinder {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.coursecontainer {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  width: 30%;
  transition: filter 500ms ease-out 50ms;
}

.coursecontainer:hover {
  filter: contrast(60%) grayscale(70%);
}

.coursecontainer span {
  font-size: 20px;
}

.coursecontainer .imagecontainer {
  display: flex;
}

.coursecontainer .textcontainer{
  display: flex;
  flex-direction: column;
  background-color: #F3f5f6;
  padding: 16px 16px 24px 16px;
  min-height: 126px;

}

.coursecontainer .textcontainer .courses {
  padding: 8px 0;
}

#course img {
  height: auto;
  max-width: 100%;
}

/* media query to keep course headers on a single line */

@media only screen and (max-width: 1274px) and (min-width: 1133px) {
  .coursecontainer .textcontainer h2 {
    font-size: 26px;
  }
  .coursecontainer span {
    font-size: 18px;
  }
}

/* media query to keep course headers on a single line */

@media only screen and (max-width: 1133px) and (min-width: 1071px){
  .coursecontainer .textcontainer h2 {
    font-size: 24px;
  }
  .coursecontainer span {
    font-size: 16px;
  }
}

/* media query to amend courses per line to two */

@media only screen and (max-width: 1071px) {
  .coursecontainer {
    width: 45%;
  }
}

/* media query to keep course headers on a single line */

@media only screen and (max-width: 886px) and (min-width: 793px) {
  .coursecontainer .textcontainer h2 {
    font-size: 26px;
  }
  .coursecontainer span {
    font-size: 18px;
  }
}

/* media query to keep course headers on a single line */

@media only screen and (max-width: 793px) and (min-width: 751px){
  .coursecontainer .textcontainer h2 {
    font-size: 24px;
  }
  .coursecontainer span {
    font-size: 16px;
  }
}

/* media query to amend courses per line to one */

@media only screen and (max-width: 751px) {
  .coursecontainer {
    width: 40%;
  }

  .coursefinder {
    justify-content: center;
  }
}

/* media query to switch to mobile styling */

@media only screen and (max-width: 750px) {

  #course {
    padding: 32px 16px;
    background-color: #f4f4f4;
    border: 1px solid #dbdcdd;
    margin: 0 1px;
  }

  #course .content .imagecontainer,
  #course .content span {
    display: none;
  }

  .coursefinder {
    display: block;
  }

  .coursecontainer {
    width: 100%;
    padding: 0;
    margin: 8px 0;
  }

  #course .coursecontainer .textcontainer {
    padding: 16px 16px 24px 16px;
    background-color: #dbdcdd;
    min-height: 0;
  }

  .coursecontainer .textcontainer h2 {
    font-weight: 400;
  }

  #course .title {
    padding-bottom: 16px;
  }

}
/* Thesis styling */

#thesis {
  display: flex;
  flex-direction: column;
  background-color: #F3f5f6;
}

#thesis .title {
  padding: 32px 0;
}

#thesis .content {
  display: flex;
}

.vid {
  width: 60%;
  padding: 0 24px 24px 24px;
}

video {
  max-width: 100%;
}

.vid .textcontainer h2 {
  padding-bottom: 8px;
}

.vid .textcontainer p {
  font-family: Taviraj, serif;
}

#thesis .sidebar {
  width: 40%;
}

#thesis .imagecontainer {
  width: 35%;
  padding-right: 16px;
}

#thesis .imagecontainer img {
  width: 100%;

}

.element{
  display: flex;
  padding: 16px;
  transition: all 300ms ease 100ms;
}


.element:hover {
  border: 4px solid #fcfdff;
  padding: 12px;
}

.element.top {
  background-color: #D3D9DF;
}

.element.bottom {
  background-color: #A7B4C1;
}

#thesis .sidebar .textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
}

#thesis .sidebar .textcontainer h2 {
  padding-bottom: 8px;
}

#thesis .content .textcontainer {
  display: flex;
  flex-direction: column;
  padding: 24px 0 32px 0;
}

@media only screen and (max-width: 1025px) {
  #thesis .sidebar .imagecontainer {
    display: none;
  }

  .element.top {
    background-image: url(../images/thesis-fisma.jpg);
    background-size: cover;
    color:
  }

  .element.bottom {
    background-image: url(../images/thesis-now-and-then.jpg);
    background-size: cover;
    height: 32%;
    color: #fcfdff;
  }

  #thesis .sidebar {
    margin-right: 16px;
    max-width: 30%;
  }

  #thesis .sidebar .textcontainer {
    max-width: 100%;
  }
}

/* Text removed to fit smaller screen */

@media only screen and (max-width: 811px) {
  .element p {
    display: none;
  }

  #thesis .sidebar .textcontainer h2 {
    font-size: 20px;
  }
}

/* thesis mobile styling */

@media only screen and (max-width: 750px) {

  #thesis {
    background-color: #F3f5f6;
  }

  #thesis .sidebar {
    display: none;
  }

   #thesis .vid .textcontainer {
    display: none;
  }

  .vid {
    width: 100%;
  }
}

/* Footer styling */

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 1px solid gray;
}

footer nav span {
  padding-left: 8px;
  transition: color 200ms ease 50ms;
}

footer nav span:hover {
  color: #c91808;
}

/* footer mobile styling */

@media only screen and (max-width: 750px) {

  footer {
    border: none;
  }
  footer nav {
    display: none;
  }
}
